<app-content sidenav="true">
  <h2>About the Cynochew Project</h2>
  <p>This is the <em>Cynochew</em> interface project.</p>
  <p>The Cynochew project is the evolution of a former standalone project (<a href="https://github.com/Rensykes/Rinocitologia/">Rinocitologia</a>). This project uses a web server (see <a href="http://mlapolla1.pythonanywhere.com">Cynochew API</a>).</p>

  <h3>Creators</h3>
  <ul>
    <li>Michele Lapolla</li>
    <li>Vincenzo Digeno</li>
  </ul>
</app-content>