<app-content sidenav="true">
    <mat-list class="list list-large-content mat-elevation-z2 patient-list">
      <mat-list-item class="list-title">
        <b>Patients</b>
        <span class="fill-space"></span>
        <a [routerLink]="'patient/new'" mat-icon-button mat-raised-button><mat-icon>add</mat-icon></a>
      </mat-list-item>

      <mat-list-item class="filter-patients" (click)="filterPatients.focus()">
        <mat-form-field floatLabel="never" class="fill-space">
          <button matPrefix mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
          <input matInput type="text" #filterPatients placeholder="Search a patient" [(ngModel)]="patientFilter.fullName">
          <button matSuffix mat-icon-button (click)="clearPatientFilter(filterPatients)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </mat-list-item>
      
      <mat-list-item *ngFor="let patient of patients | filterBy:patientFilter">
        <span class="initials" color="primary">{{ patient.initials }}</span>
        <a [routerLink]="['patient', patient.id]">{{ patient.fullName }}</a>
      </mat-list-item>

      <mat-list-item *ngIf="!patients; else noPatients">Loading the patients...</mat-list-item>
      <ng-template #noPatients>
        <mat-list-item *ngIf="patients.length == 0">
          You have no patients. You should <a routerLink="patient/new">add</a> one.
        </mat-list-item>
      </ng-template>
    </mat-list>
</app-content>