#spinner-wrapper {
    width: 100%;
    min-height: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    opacity: 0.5;
    z-index: 2000;
}
